aiohttp==3.6.2
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.3.0
beautifulsoup4==4.9.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
decorator==4.4.2
emoji==0.5.4
feedparser==5.2.1
future==0.18.2
idna==2.9
multidict==4.7.6
peewee==3.13.3
pycparser==2.20
python-telegram-bot==12.8
requests==2.23.0
Rx==3.1.0
scrython==1.8.0
six==1.14.0
soupsieve==2.0.1
telegram==0.0.1
tornado==6.0.4
twitch-python==0.0.18
urllib3==1.25.9
yarl==1.4.2
